[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
keras = "*"
matplotlib = "*"
tensorflow-gpu = "==1.4.1"
distance = "*"
sklearn = "*"
py4j = "*"
h5py = "*"
unicodecsv = "*"
plotly = "*"
jellyfish = "*"
statistics = "*"
tensorflow = "*"
pyyaml = "==4.2b4"

[requires]
python_version = "2.7"
